.fa-envelope {
    text-shadow: 0.1rem 0.07rem 0.2rem grey;
    animation: shake 1200ms 2s 1 backwards ease-in-out;
}

@keyframes shake {
    25% {
        /*transform: rotate(40deg);*/
        scale: 1.4;
    }
    50%{
        /*transform: rotate(0deg);*/
        scale: 1;
    }
    75%{
        /*transform: rotate(-40deg);*/
        scale: 1.4;
    }
    100% {
        /*transform: rotate(0deg);*/
        scale: 1;
    }
}

.map {
    animation: slowlyVisible 2s 1 forwards ease-in;
    filter: saturate(1.5);
}

@keyframes slowlyVisible {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.75;
    }
}